<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>content downloader - Store</title>
      {% load staticfiles %}
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
      <link rel="stylesheet" href="{% static "css/uikit/css/uikit.almost-flat.min.css" %}">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="{% static "css/uikit/js/uikit.min.js" %}"></script>
   </head>
   <body>
      <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      {% include 'navbar.html' %}
      <h1><i class="uk-icon-home"></i> Members</h1>
      <hr class="uk-article-divider">
      <div class="uk-grid">
    <div class="uk-width-1-2">
    <article class="uk-article">

         <h1 class="uk-article-title"><img src="{{ u.usermeta.image }}" alt="Image" style="width: 24pt"> {{ u.usermeta.username }} {% if u.is_staff %}<div class="uk-badge uk-badge-success">Staff</div>{% endif %}{% if u.is_superuser %}<div class="uk-badge uk-badge-warning">Superuser</div>{% endif %}</h1>
         <p class="uk-article-lead"><i class="uk-icon-map-o"></i> {{ u.usermeta.location }}</p>
         <p class="uk-article-meta">@{{ u.username }}</p>


         <h3>Biography</h3>
         {{ u.usermeta.bio }}
      </article>
</div>
    <div class="uk-width-1-2"><img src="{{ c.banner.url }}" alt="{{ c.name }}"></div>
</div>

    <hr class="uk-grid-divider">
      {% include 'footer.html' %}
   </body>
</html>