<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box uk-text-center">
            <p>made in France by <b>ThuleMalta</b></p>
        </div>
    </div>
</div>
