<!DOCTYPE html>
<html lang="en-GB" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>content downloader - Login</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="{% static "css/uikit/css/uikit.almost-flat.min.css" %}">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{% static "css/uikit/js/uikit.min.js" %}"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            {% include 'navbar.html' %}
        </div>

        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle" style="width: 250px;">

                <img class="uk-margin-bottom" src="{% static "img/emoji/smiling-face.png" %}" alt="">
                <img class="uk-margin-bottom" src="{% static "img/emoji/smiling-face-2.png" %}" alt="">
                <img class="uk-margin-bottom" src="{% static "img/emoji/laughing-face-2.png" %}" alt="">
                {% if form.username.errors or form.email.errors %}
                <div class="uk-alert uk-alert-danger">
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <div class="uk-badge uk-badge-danger">Login</div> {{ error|escape }}</strong><br>
                        {% endfor %}
                    {% endif %}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class="uk-badge uk-badge-danger">Password</div> {{ error|escape }}</strong><br>
                        {% endfor %}
                    {% endif %}
                </div>
                {% else %}
                {% if error != "" %}
                <div class="uk-alert uk-alert-danger">{{ error }}</div>
                {% endif %}
                {% endif %}
                <form class="uk-panel uk-panel-box uk-form" method="POST">
                    {% csrf_token %}
                    <div class="uk-form-row">
                        {{ form.username }}
                    </div>
                    <div class="uk-form-row">
                        {{ form.password }}
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">Login</button>
                    </div>
                    <div class="uk-form-row uk-text-small">
                        <a class="uk-float-right uk-link uk-link-muted" href="/register">or <b>register</b></a>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>
