<!DOCTYPE html>
<html lang="en-GB" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>content downloader - Login success</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="{% static "css/uikit/css/uikit.almost-flat.min.css" %}">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{% static "css/uikit/js/uikit.min.js" %}"></script>
    </head>

    <body>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            {% include 'navbar.html' %}
        </div>

        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle" style="width: 350px;">

                <img class="uk-margin-bottom" src="{% static "img/emoji/smiling-face.png" %}" alt="">
                <img class="uk-margin-bottom" src="{% static "img/emoji/smiling-face-2.png" %}" alt="">
                <img class="uk-margin-bottom" src="{% static "img/emoji/laughing-face-2.png" %}" alt="">

                <div class="uk-alert uk-alert-success">
                    <b>You have successfully logged out !</b><br>
                    See you later !
                </div>

                 <a class="uk-button uk-margin-large-bottom" href="/login/">Login</a>
        </div>

    </body>
</html>
