<nav class="uk-navbar uk-margin-large-bottom">
    {% load staticfiles %}
    <a class="uk-navbar-brand uk-hidden-small" href="/"><img src="{% static "img/logo_round.png" %}" style="width:16pt"/></a>
    <ul class="uk-navbar-nav uk-hidden-small">
        <li>
            <a href="/contribute/"><i class="uk-icon-github"></i> Contribute</a>
        </li>
        <li>
            <a href="/download/"><i class="uk-icon-download"></i> Download</a>
        </li>
        <li>
            <a href="http://contentdownloader.tumblr.com/"><i class="uk-icon-tumblr"></i> Dev Blog</a>
        </li>
        <li>
            <a href="/doc/"><i class="uk-icon-align-justify"></i> Help</a>
        </li>
        <li>
            <a href="/cstore/"><i class="uk-icon-shopping-cart"></i> Store</a>
        </li>
        <li>
            <a href="/contact/"><i class="uk-icon-envelope"></i> Contact</a>
        </li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
            <li aria-expanded="false" aria-haspopup="true" class="uk-parent uk-active" data-uk-dropdown="">
                <a href=""><i class="uk-icon-home"></i> Welcome back, <i>{{ user.usermeta.username }}</i> !</a>
                <div style="" class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li class="uk-nav-header">Account</li>
                        <li><a href="/profile/view/{{ user.username }}">Profile</a></li>
                        <li><a href="/profile/settings">Settings</a></li>
                        <li class="uk-nav-header">Publications</li>
                        <li><a href="/profile/add/content">Add Content</a></li>
                        <li><a href="/profile/add/category">Request Category</a></li>
                        {% if user.is_staff %}
                        <li class="uk-nav-header">Admin</li>
                        <li><a href="/admin">Panel</a></li>
                        {% endif %}
                        <li class="uk-nav-divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li>
                <a href="/login/"><i class="uk-icon-sign-in"></i> Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </ul>
</nav>
