<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>content downloader - Store</title>
      {% load staticfiles %}
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
      <link rel="stylesheet" href="{% static "css/uikit/css/uikit.almost-flat.min.css" %}">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="{% static "css/uikit/js/uikit.min.js" %}"></script>
   </head>
   <body>
      <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      {% include 'navbar.html' %}
      <h1><i class="uk-icon-shopping-cart"></i> Content Store
        <small><i>
          {% if title = "Content types" %}

          {% endif %}
        </i></small></h1>
      <h2>{{ title }}</h2>
      {% for category in categories %}
      <article class="uk-comment">
         <header class="uk-comment-header">
            <img class="uk-comment-avatar" src="{{ category.icon.url }}" alt="{{ category.name }}" style="width: 42pt">
            <h4 class="uk-comment-title">
               <a href="
               {% if title == "Content types" %}/cstore/contents/{% endif %}
{% if title == "Contents" %}/cstore/content/{% endif %}{{ category.slug }}">{{ category.name }}
               </a></h4>
            <div class="uk-comment-meta"><i>{{ category.slug }}</i></div>
         </header>
      </article>
      {% empty %}
      <p>Empty list.</p>
      {% endfor %}
      <center>
         <p>
            {% if previousPage != 0 %}
            <a href="?page={{ previousPage }}" alt="Previous page">{{ previousPage }}</a>
            {% endif %}</a>
            {{ page }}
            {% if nextPage <= maxPage %}
            <a href="?page={{ nextPage }}" alt="Next page">{{ nextPage }}</a>
            {% endif %}
         </p>
      </center>
      <hr class="uk-grid-divider">
      {% include 'footer.html' %}
   </body>
</html>