<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>content downloader - Store</title>
      {% load staticfiles %}
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
      <link rel="stylesheet" href="{% static "css/uikit/css/uikit.almost-flat.min.css" %}">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="{% static "css/uikit/js/uikit.min.js" %}"></script>
   </head>
   <body>
      <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      {% include 'navbar.html' %}
      <h1><i class="uk-icon-shopping-cart"></i> Content Store</h1>
      <hr class="uk-article-divider">
      <div class="uk-grid">
    <div class="uk-width-1-2">
    <article class="uk-article">

         <h1 class="uk-article-title"><img src="{{ c.icon.url }}" alt="{{ c.name }}" style="width: 24pt"> {{ c.name }}</h1>
         <p class="uk-article-lead"><small>by</small> {{ c.author }}</p>
         <h3>Description</h3>
         {{ c.description }}

         <h3>Links</h3>
         <a class="uk-button uk-button-primary" href="">Website</a>
         <a class="uk-button" href="">Download</a>
         <p class="uk-article-meta">{{ c.slug }}</p>
      </article>
</div>
    <div class="uk-width-1-2"><img src="{{ c.banner.url }}" alt="{{ c.name }}"></div>
</div>

    <hr class="uk-grid-divider">
      {% include 'footer.html' %}
   </body>
</html>